*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --body:#FFFFFF;
    --violet:#7169E5;
    --purple: #332D6A;
    --shadow:rgba(253, 86, 49, 0.1) 0px 0.25rem 0.25rem 0.125rem, #7169E5 0px 0.375rem 0.75rem -0.125rem;
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-sucess:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba( 132, 139, 200, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-theme{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: :rgba(0,0,0,0.4);
    --box-shadow:0 2rem 3rem var(--color-light)
}
body
{
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--body);
}
/*Important classes od animations*/
.hiddenup{
    opacity: 0;
    transition: 1s ease-in-out;
    transform: translateY(-50%);

}
.showup{
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0);
    transform: translateY(0%);
}
.hiddenri{
    opacity: 0;
    transition: 1s ease-in-out;
    transform: translateX(-100%);

}
.showri{
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0);
    transform: translateX(0%);
}
.hiddenle{
    opacity: 0;
    transition: 1s ease-in-out;
    transform: translateX(70%);

}
.showle{
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0);
    transform: translateX(0%);
}
/*Endoof all animations*/
header
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 43px;
    background-color: white;
    z-index: 100;
    padding: 32px 0px;
}

header .container
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo
{
    font-size: 24px;
    font-weight: 700;
}
header .container nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container nav ul
{
    display: flex;
    width: max-content;
    justify-content: flex-start;
    width: max-content;
    align-items: center;
}
header .container nav ul li{
    display: flex;
    font-size: 14px;
    margin: 0px 5px;
    width: max-content;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container nav ul li a
{
    padding: 10px 16px;
    color: rgb(102, 98, 118);
    text-decoration: none;
    font-weight: 600;
    color: #343232;
}
nav ul li .submenu
{
    display: none;
}
nav ul li .submenu
{
    display: none;
}
.submenu li a
{
    padding: 10px 10px;
    margin: 7px 5px;
    width: 100%;
}
.submenu li a:hover
{
    color: #7169E5;
}
.submenu li:hover{
    background-color: #f8f5f5;
}

nav ul li:hover .submenu
{
    padding: 4px;
    box-shadow: var(--shadow);
    display: block;
    position: absolute;
    width: max-content;
    border: 1px solid #ccc;
    border-radius: 8px;
    top: 100%;
    background-color: #fff;
}
.login
{
    right: 0;
    width: 160px;
    font-size: 16px;
    background-color: #7169E5;
    font-weight: 700;
    color: white;
    height: 40px;
    padding: 7px 16px;
    outline: none;
    border-radius: 7px;
    box-shadow: rgba(253, 86, 49, 0.1) 0px 0.25rem 0.25rem 0.125rem, #7169E5 0px 0.375rem 0.75rem -0.125rem;
    border: none;
}
.login:hover
{
    transition: .5s;
    box-shadow: rgba(253, 86, 49, 0.1) 0px 0.25rem 0.25rem 0.125rem, #7169E5 0px 0.375rem 0.75rem -0.125rem;
    box-shadow: none;
    background-image: linear-gradient(45deg, #7169E5, #8f8bb6);
}
.login i
{
    margin: 5px;
}
.respo{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
}
.menu{
    display: none;
}
.menu:hover{
    box-shadow: none;
    transition: .6s;
}
.menu .line{
    background-color: white;
    width: 90%;
    height: 5px;
    border-radius: 5px;
}
/*###############################Main#############################*/
main
{
    background-color: #332D6A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}
main .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: max-content;
}

main .container .texto
{
    width: 50%;
    margin: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.texto h2
{
    color: #7169E5;
    font-size: 48px;
}
.texto h3
{
    font-size: 32px;
    margin-bottom: 30px;
    color: #fff;
}
.texto span
{
    margin-bottom: 20px;
    font-size: 18px;
    width: 600px;
    text-align: justify;
}



main .container .tips
{
    margin: 0px 0px 20px 0px;
    color: white;
}

main .container .tips li
{
    display: flex;
    justify-content: flex-start;
    padding: 9px 0px;
    list-style: none;
}

.texto a
{
    background-color: #7169E5;
    color: #fff;
    padding: 16px 32px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: rgba(253, 86, 49, 0.1) 0px 0.25rem 0.25rem 0.125rem, #7169E5 0px 0.375rem 0.75rem -0.125rem;
    margin-bottom: 10px;
}

main .foto{
    overflow: hidden;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .foto img{
    width: 100%;
    
}
/*###############################Main#############################*/

.float{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.float .container{
    background-color: white;
    width: 50%;
    border-radius:7px;
    margin-top:-50px;
    display: flex;
    justify-content: space-between;
    height: 140px;
    overflow: hidden;
    padding: 10px 20px;
    box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.050);
}
.float .container .caracs{
    width: 30%;
    padding-bottom: 10px;
}
.caracs .titulo{
    margin-bottom:10px;
    font-weight: 600;
    color: #332D6A;
}

.caracs .desc
{
    font-size: 12px;
}

.servicos
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.servicos .cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #332D6A;
}
.cabeca .mini{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom:10px;
    color: #332D6A;
}
.cabeca .mini .line{
    background-color: #7169E5;
    width: 50px;
    height: 3px;
}
.cabeca h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.servicos .container{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.servicos .container .card{
    background-color: white;
    height: 270px;
    width: 250px;
    margin: 0px 10px;
    border-radius: 7px;
    z-index: 2;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.050);
}
.servicos .container .card:hover
{
    box-shadow: none;
    transition: .3s;
}
.card .icone{
    border-radius: 7px;
    width: 70px;
    height: 70px;
    margin: 0px 0px 5px 0px;
    color: #111e88;
    font-size: 32px;
    display: flex;
    align-items: center;
}
.card h3
{
    font-size: 18px;
    margin-bottom:10px;
}
.card a{
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: #7169E5;
    font-weight: 600;

}

.square{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square .container{
    background-color: #F8F8F8;
    width: 70%;
    z-index: -0;
    border-radius: 7px;
    margin-top: -150px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.container .duplo
{
    padding: 100px 10px 0px 10px;
    display: flex;
    height:80%;
}
.duplo .foto{
    width: 50%;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}
.duplo .foto div{
    width: 300px;
    height: 300px;
    padding: 7px;
    background-color: white;

}
.duplo .foto div img{
    width: 100%;
    height: 100%;

}
.duplo .text{
    width: 50%;
    padding: 30px 20px 20px 20px;
}
.duplo .text .mini{
    margin-bottom: 10px;
    color: #332D6A;
}
.duplo .text h3{
    width: 50%;
    margin-bottom: 20px;
    font-size: 24px;
    color: #332D6A;
}
.duplo .text .quali
{
    background-color: #332D6A;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    border-radius: 7px;
    padding: 10px 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.text p{
    font-size: 12px;
    width: 80%;
    text-align: justify;
    margin-bottom: 10px;
}
.quali .titulo{
    margin: 0px 0px 5px 0px;
    font-weight: 600;
}
.quali .icone{
    background-color: rgb(106, 0, 255);
    border-radius: 7px;
    width: 80px;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
.quali .info p{
    font-size: 10px;
    width: 400px;
}
.number{
    width: 390px;
    color: #332D6A;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number .icone{
    background-color: #7169E5;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}
.number .text h3{
    font-weight: 800;
}















footer
{
    height: 400px;
    width: 100%;
    margin-top: 100px;
    background-color: #332D6A;
    background-color: #332D6A;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #332D6A;
    width: 80%;
    height: 70%;
}

footer .container .col{
    background-color: #332D6A;
    margin: 10px 20px;
    width: 300px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

footer .container .col .logo
{
    margin-bottom: 10px;
    width: 90%;
}
.col .info{
    margin-left: 20px;
    color: white;
    font-size: 12px;
}
.col ul
{
    height: 90%;
}
.col h3{
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.col ul li{
    font-size: 16px;
    margin: 20px 0px;
    list-style: none;
    width: max-content;
}
.col ul li a{
    color: white;
    text-decoration: none;
    margin: 10px 5px;
}
.col input{
    width: 90%;
    padding: 5px 5px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    outline: #8f8bb6;
}

.col ol
{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
.col ol li
{
    color: white;
    display: flex;
    list-style: none;
    margin: 10px 5px;
    margin-left: 20px;
    font-size: 13px;
}
.col ol li i{
    margin-right: 10px;
    font-size: 18px;
}
